.buttonPoke {
    background: #75E6DA;
    padding: 15px;
    margin: 3px, 2px;
    cursor: pointer;
    text-align: center;
    width: 10em;
    font-weight: bold;
    margin: 1em 0;
  }
  buttonPoke:hover {
   color: gray;
   opacity: 0.50;
  }
.liPoke {
  list-style: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
}

#modalContainer {
  display: none;
}

#modalContainer.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  z-index: 999; 
  
  overflow: auto; 

  display: grid;
  text-align: center;
}
  
.pokemonModal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #aec39b;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  max-height: 300px;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}